In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Spark sql code").enableHiveSupport().getOrCreate()

In [3]:
spark

In [4]:
# Part-1 Create PySpark dataframes and read data from the two Hive tables.

StudentCourseCompleteStatus=spark.read.table("ayushi_fractal.studentcoursecompletionstatus")
studentCourseDetails=spark.read.table("ayushi_fractal.coursedetails")

In [5]:
StudentCourseCompleteStatus.printSchema()

root
 |-- studentsid: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- examdate: string (nullable = true)
 |-- attendedstatus: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- result: string (nullable = true)

In [6]:
studentCourseDetails.printSchema()

root
 |-- coursetype: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- title: string (nullable = true)
 |-- competency: string (nullable = true)
 |-- complexity: string (nullable = true)

In [7]:
type(StudentCourseCompleteStatus)

pyspark.sql.dataframe.DataFrame

In [8]:
type(studentCourseDetails)

pyspark.sql.dataframe.DataFrame

In [9]:
# Part-2 Find the total number of students per result category 

StudentCourseCompleteStatus.groupBy('result').count().show()

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [10]:
#Find the total number of students absent
df = s_abs = StudentCourseCompleteStatus.where(StudentCourseCompleteStatus['attendedstatus']=='Absent').count()
df

149

In [11]:
#Find the maximum, minimum and average marks scored by students

s_max = StudentCourseCompleteStatus.agg({'marks': 'max'})
s_max

+----------+
|max(marks)|
+----------+
|        92|
+----------+

In [12]:
s_min = StudentCourseCompleteStatus.agg({'marks': 'min'})
s_min

+----------+
|min(marks)|
+----------+
|         0|
+----------+

In [13]:
s_avg = StudentCourseCompleteStatus.agg({'marks': 'avg'})
s_avg

+------------------+
|        avg(marks)|
+------------------+
|40.013333333333335|
+------------------+